.buttonInvisible{
    background-color: transparent;
    border:0;
    color: #afadad;
    text-shadow: 0 0 5px red;
}

button:hover{
    text-shadow: 0 0 5px aqua;
    color: aqua;
    cursor: pointer;
}

hr{
    color: rgb(2, 137, 255);
    border-radius: 45px;
    box-shadow: 0 0 5px red;
}